<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="./assets/images/logo_horizontal.png"
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Unidad de sistemas y tecnologias de Información</h4>
                  </div>
  
                  <form>
                    <p>Por favor ingresa su cuenta</p>
                 
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control"
                        placeholder="" />
                      <label class="form-label" for="form2Example11">Usuario</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" />
                      <label class="form-label" for="form2Example22">Contraseña</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Iniciar sesión</button>
                      
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">no se acuerda la contraseña?</p>
                      <button type="button" class="btn btn-outline-danger">Crear nuevo</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">SISTEMA DE INVENTARIO DE EQUIPOS INFORMATICOS</h4>
                  <p class="small mb-0">Sistema de inventario de equipos informaticos. Herramienta que gestiona los ingresas y salidas de equipos de computo
                    a nivel de toda la institución.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><h2>Login</h2>